{% extends "layout.html" %}
{% block body %}
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 50px;
        padding: 0px
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

    <script>

				// Initialize the map and the custom overlay.
		var historicalOverlay;

		function initialize() {

		  var bath = new google.maps.LatLng(51.379293, -2.359251);

		  var mapOptions = {
		    zoom: 14,
		    center: bath
		  };

		  var map = new google.maps.Map(document.getElementById('map-canvas'),
		      mapOptions);

		}

		google.maps.event.addDomListener(window, 'load', initialize);

    </script>

    <div>
    	<h1>Maps of Bath: Showing a current map </h1>

		<div class="dropdown">
		  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
		    Choose Map
		    <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="/maps">None</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="/maps1572">1572</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="/maps1852">1852</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="/maps1891">1891</a></li>
		  </ul>
		</div>
    </div>
    <div class="map-contain"id="map-canvas"></div>
{% endblock %}