{% extends "layout.html" %}
{% block body %}
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 50px;
        padding: 0px
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

    <script>

				// Initialize the map and the custom overlay.
		var historicalOverlay;

		function initialize() {

		  var bath = new google.maps.LatLng(51.379293, -2.359251);

		  var sw1 = {{ sw[0] }}
		  var sw2 = {{ sw[1] }}
		  var ne1 = {{ ne[0] }}
		  var ne2 = {{ ne[1] }}
		  var imageBounds = new google.maps.LatLngBounds(
		      new google.maps.LatLng(sw1,sw2),
		      new google.maps.LatLng(ne1, ne2));

		  var mapOptions = {
		    zoom: 14,
		    center: bath
		  };

		  var map = new google.maps.Map(document.getElementById('map-canvas'),
		      mapOptions);

		  historicalOverlay = new google.maps.GroundOverlay(
		      '{{ url }}',
		      imageBounds);
		  historicalOverlay.setMap(map);
		}

		google.maps.event.addDomListener(window, 'load', initialize);

		function setOpacity(opacity) {
		  historicalOverlay.setOpacity(opacity);
		}

    </script>

      	<h1>Maps of Bath: Showing a map of the year {{year}}</h1>


		<div class="dropdown">
		  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
		    Choose Map
		    <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="/maps">None</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="/maps1572">1572</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="/maps1852">1852</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="/maps1891">1891</a></li>
		  </ul>
		</div>
		<nav>
		  <ul class="pagination">
		    <li><a onclick="setOpacity(0)" href="#">0</a></li>
 			<li><a onclick="setOpacity(0.1)" href="#">0.1</a></li>
  			<li><a onclick="setOpacity(0.2)" href="#">0.2</a></li>
  			<li><a onclick="setOpacity(0.3)" href="#">0.3</a></li>
 			<li><a onclick="setOpacity(0.4)" href="#">0.4</a></li>
			<li><a onclick="setOpacity(0.5)" href="#">0.5</a></li>
   		   <li><a onclick="setOpacity(0.6)" href="#">0.6</a></li>
   		   <li><a onclick="setOpacity(0.7)" href="#">0.7</a></li>
      	  <li><a onclick="setOpacity(0.8)" href="#">0.8</a></li>
      	   <li><a onclick="setOpacity(0.9)" href="#">0.9</a></li>
      	   <li><a onclick="setOpacity(1)" href="#">1</a></li>
		  </ul>
		</nav>
        <div class="map-contain"id="map-canvas"></div>


    
{% endblock %}